/* Review related */
* {
    box-sizing: border-box;
}

.threeColumns {
    float: left;
    width: 33.33%;
    padding: 60px 60px;
    font-family: 'Roboto';
    font-size: auto;
    background: #F8F0EF;
    /* box-shadow: 0 4px 8px 0 #9595954d; */
}

.reviewStars {
    font-size: 20px;
    padding-bottom: 10px;
    color: #EF6C00;
}

.reviewAuthor {
    font-size: 17px;
    font-style: italic;
    float: right;
    color: gray;
}

.reviewText {
    font-size: 17px;
    font-style: italic;
    color: black;
}

/*.smaller {
    font-size: auto;
    font-style: italic;
    color: black;
}*/

/* Update related */
.updateCard {
    width: 50%;
    display: block;
    margin: 0 auto;
    display: table;
    overflow: hidden;
    font-size: 21px;
    font-family: 'Roboto';
    box-shadow: 0 4px 8px 0 #959595;
    transition: 0.7s;
    position: relative;
    background: #F8F0EF;
    padding: 50px 100px 50px 100px;
}

.updateCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.updatePostDate {
    font-size: 17px;
    font-style: italic;
    text-align: right;
    color:gray;
}

.updateText {

    font-size: 17px;
    text-align: center;
    color:#1b1c1b;
}

.updateContainer {
    width: absolute;
    padding: 20px;
    position: relative;
    background: #F8F0EF;
}

.prev, .next {
   cursor: pointer;
   position: relative;
   top: 50%;
   width: auto;
   margin-top: -30px;
   padding: 16px;
   color: #888;
   font-weight: bold;
   font-size: 20px;
   border-radius: 0 3px 3px 0;
   user-select: none;
}

/* Position the "next button" to the right */
.prev {
    position: absolute;
    left: 20%;
}

.next {
    position: absolute;
    right: 20%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* Contact Us related */
.contactTitle {
    text-align: center;
    padding: auto;

    font-size: 35px;
    font-family: "Playfair Display Bold", serif;
    color: #292828;
}

.contactNumber {
    text-align: center;
    padding: auto;

    font-size: 21px;
    font-family: "Playfair Display Bold", serif;
    color: #414141;
}

.addressTitle {
    text-align: center;
    padding: auto;

    font-size: 35px;
    font-family: "Playfair Display Bold", serif;
    color: #292828;
}

.addressInfo {
    text-align: center;
    padding: auto;

    width: 100%;
    font-size: 21px;
    font-family: "Playfair Display Bold", serif;
    color: #414141;
}

.businessTitle {
    text-align: center;
    padding: auto;

    font-size: 35px;
    font-family: "Playfair Display Bold", serif;
    color: #292828;
}

.businessHours {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;

    font-size: 21px;
    font-family: "Playfair Display Bold", serif;
    color: #414141;
}
