/* Review related */
.reviewCards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

* {
  box-sizing: border-box;
}

.threeColumns {
    float: left;
    width: 33.33%;
    padding: 60px 60px;
    font-family: 'Roboto';
    font-size: 21px;

    box-shadow: 0 4px 8px 0 #959595;
    transition: 0.3s;
}

.reviewStars {
    font-size: 20px;
    padding-bottom: 10px;
    color: #EF6C00;
}

.reviewAuthor {
    font-size: 17px;
    font-style: italic;
    float: right;
    color:gray;
}

.reviewText {
    font-size: 17px;
    font-style: italic;
    color: black;
}

/* Update related */
.updateCard {
    background: #F8F0EF;
    width: 45%;
    font-size: 20px;
    font-family: 'Roboto';
    box-shadow: 0 4px 8px 0 #959595;
    transition: 0.3s;
    display:block;
    position:relative;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 134px;
}

.updatePostDate {
    font-size: 17px;
    font-style: italic;
    text-align: right;
    color:gray;
}

.updateText {
    font-size: 17px;
    color:#1b1c1b;
}
