.gallery {
    float: left;
    width: 50%;
    height: 763px;
    padding:auto;
}

.menu {
    float: left;
    width: 50%;
    height: 763px;
    padding:auto;
    overflow:auto;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
}
