.gallery {
    float: left;
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 0px;

    width: 720px;
    height: 1280px;

    object-fit: cover;
}

.menu {
    float: right;

    width: 850px;
    height: 720px;

    padding-top: 25px;
    padding-right: 45px;
}