.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
    float: left;
    width: 50%;
    padding: 50px;
    box-shadow: 0 4px 8px 0 #000000;
    font-size: 46px;
    text-align: Center;
  box-sizing: border-box;
}

.addreviewRibbon:after {
    content: "";
    display: table;
    clear: both;
    background: #F8F0EF;
}

.reviewRibbon {
    width: absolute;
    padding-top: 30px;
    padding-bottom: 30px;
    border:3px solid black;
    font-family: "Playfair Display Bold";

  background: #999997;
  text-align: center;
  /* text-indent: 700px; */
  font-size: 46px;
}

.addUpdatesRibbon {
    width: absolute;
    padding-top: 40px;
    padding-bottom: 40px;
}

.updateRibbon {
    width: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    border:3px solid black;
    color: black;
    font-family: "Playfair Display Bold";

  background: #999997;
  /* text-indent: 500px; */
  text-align: center;
  font-size: 46px;
}

.ribbon {
    width: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    border:3px solid black;
  color: white;
  font-family: "Playfair Display Bold";

  background: #505050;
  text-align: center;
  font-size: 20px;
}

.bigRibbon {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border:1px solid black;
  color: white;
  font-family: "Playfair Display Bold";

  background: #505050;
  text-align: center;
  font-size: 46px;
}

.blockRibbon {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 700px;
	color: #ff0051;
	font-family: Tahoma, Geneva, sans-serif;

	background: url(../img/cover.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.ribbonWhite {
	width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;

    background: #F8F0EF;
}

.contactUsRibbon {
    width: 100%;
    height: 1500px;

    background-color: #F8F0EF;
}

.imagesRibbon{
    width: 100%;
    height: 800px;

    background: #414141;
}

.lovelyShadeofBlackForExtraSpaceInTheImagesSection{
    width: 100%;
    height: 100px;

    background: #414141;
}

.blackRibbon {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 200px;

    background: #000000
}

.textBoxRibbon {
  	width: 75px;
  	height: 100px;
  	background: rgb(245, 245, 245);
}

.whiteRibbon {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 600px;

    background-image: url("https://images.hdqwalls.com/wallpapers/future-sports-car-neon-sunset-background-4k-il.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 2000px 1000px;
}
