.updateRibbon {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    font-family: "Sail";

  background: #999997;
  text-align: left;
  text-indent: 50px;
  font-size: 97px;
}

.ribbon {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  color: white;
  font-family: "Playfair Display Bold";

  background: #505050;
  text-align: center;
  font-size: 19px;
}

.blockRibbon {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 500px;
	color: #ff0051;
	font-family: Tahoma, Geneva, sans-serif;

	background: url(../img/cover.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.ribbonWhite {
	width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;

    background: #F5F5F5
}

.blackRibbon {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 200px;

    background: #000000
}

.textBoxRibbon {
	width: 75px;
	height: 100px;
	background: rgb(245, 245, 245);
}

.whiteRibbon {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 600px;

    background-image: url("https://images.hdqwalls.com/wallpapers/future-sports-car-neon-sunset-background-4k-il.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 2000px 1000px;

}
